/* HOME */
.header-home {
    background: url(../img/entrada.png) no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.header-home img {
    padding-top: 30px;
    width: 180px;
}

.header-home h1 {
    margin: 25px auto;
    max-width: 150px;

    font-family: "Arial";
    font-size: 46px;
    font-weight: bold;
    color: #ffffff;
}

.header-home ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: .08em;
}

.header-home nav {
    padding-top: 20px;
    padding-bottom: 60px;
}

.header-home nav a {
    font-size: 18px;
    line-height: 19px;

    display: block;
    padding: 15px 35px;
    margin: 8px auto;
    max-width: 230px;

    border: 3px solid #fff;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.637);

    color: #fff;
    transition: 300ms;
}

.header-home a:hover {
    font-size: 18px;
    line-height: 21px;
    text-decoration: underline #B71524;
}



/* footer */
.footer-home {
    width: 100%;
    background-color: #B71524;
}

.footer-home p {
    padding: 20px 5px;
    color: #fff;
    text-align: center;
}



