/* HOME */
.img {
    padding-top: 14px;
    background: url(../img/entrada.png) no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
}
.home-main {
    margin: 0 auto;
    text-align: center;
}

.home-main h1 {
    margin: 15px auto;
    max-width: 150px;

    font-family: "Arial";
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    font-weight: bold;

    color: #ffffff;
}

.home-main ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: .08em;
}

.home-main nav {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

.home-main nav a {
    font-size: 18px;
    line-height: 19px;

    display: block;
    padding: 10px 20px;
    margin: 5px auto;
    max-width: 130px;

    border: 3px solid #fff;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.637);

    color: #fff;
    transition: 300ms;
}

.home-main a:hover {
    font-size: 18px;
    line-height: 21px;
    text-decoration: underline #B71524;
}



