@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,700;1,400;1,700&display=swap');

/* GERAL */
body {
    background-color: #FFF7FF;
}
p {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
color: #000;
}
h2, h3, h4 {
    font-family: "Quattrocento Sans";
}

p, a, span, li {
    font-family: "Quattrocento Sans";
}

/* Header  */
.header {
    background-color: #B71524;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    top:  0;
    z-index: 1;
}

.header nav ul {
    text-align: center;
}

.header nav ul li {
    margin: 0 auto;
    display: inline-block;
    margin: 0 35px;
}

.header nav ul li a {
    display: block;
    padding: 10px 5px 3px 5px;
}

.header nav ul li a.foco {
    border-bottom: 5px solid #fff;
}
.header nav ul li a p {
    color: #fff;
}


/* Sections */

.titulo-main.topo {
    margin: 80px auto 20px auto;
}

.titulo-main {
    text-align: center;
    font-size: 30px;
    color: #B71524;
    font-weight: bold;
}

.menu {
    margin: 20px 10px;
}

.menu h2 {
    font-size: 30px;
    display: inline;   
    color: #B71524;
    display: inline-block;
}

.menu h3 {
    display: inline-block;
    margin: 0 20px;
    color: #B71524;
    font-size: 18px;
}

.itens ul {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 10fr 2fr;
}

.itens ul li {
    padding: 10px 0;
}

.itens ul .name{
    font-size: 22px;
    line-height: 25px;
    color: #3E3C3C;
}

.itens ul li .description {
    margin-top: 3px;
    display: block;
    text-align: left;
    font-size: 16px;
    font-style: italic;
    color: #8999a7;
    line-height: 1rem;
 }

.itens ul .price {
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #A99F9F;
}

   
.subtitle {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B71524;
    margin-left: 8px;
}

.barra {
    margin: 8px 0;
    height: 2px;
    background-color: #C4C4C4;
    width: 100%;
}

.menu .desc {
    font-size: 16px;
    color: #1f1e1e;
    font-style: italic;
}

.menu .aviso {
    font-size: 16px;
    color: #7b73f3;
    font-style: italic;
}
.menu .mensagem {
    text-align: center;
}

.menu .mensagem .mensagem1 {
    margin: 7px 0;
    text-align: right;
    color: #7C7777;
}

.menu .mensagem .mensagem2 {
    max-width: 260px;
    text-align: center;
    line-height: 17px;
    color: #7C7777;

}

.menu .regiao {
    text-align: center;
    font-size: 26px;
    color: rgb(27, 27, 27);
    margin: 15px 0;
    font-weight: bold;
}

/* Acompanhamnetos */
.acompanhamentos {
    text-align: center;
    margin: 5px 0;
}

.acompanhamentos h3  {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
    color: #7C7777;
}

.acompanhamentos p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #A99F9F;
}

/* footer */
.footer-home {
    width: 100%;
    background-color: #B71524;
    padding: 5px;
    text-align: center;
}

.footer-home {
    padding: 10px 5px;
    color: #fff;
    text-align: center;
}



  /* Dropdown Button */
.dropbtn {
    padding: 5px;
    font-size: 10px;
    border: 1px solid #fff;
    overflow: none;
    border-radius: 6px;
    cursor: pointer;
    background: none;
    color: #fff;
    font-size: 12px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right: -12px;
    top: -70px;
    background-color: #c42424;
    width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .bandeira {
      width: 15px;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: #fff;
    padding: 2px 6px;
    margin: 5px 6px;
    display: grid;
   
    grid-template-columns: 1fr 6fr;
  }
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}



  /* JAVASCRIPT */
/* 5 Adicione o CSS Essencial abaixo */
.no-js [data-slide] {
    position: relative;
  }
  .no-js [data-slide] > * {
    position: absolute;
    top: 0px;
    opacity: 0;
  }
  .no-js [data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
  }
  
  /* 6 CSS recomendado para a navegação */
  .no-js [data-slide-nav] {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  .no-js [data-slide-nav] > button {
    display: inline-block;
    width: 12px;
    margin: 4px;
    height: 12px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    background: #1d1d1d;
    text-indent: -100px;
    overflow: hidden;
  }
  .no-js [data-slide-nav] > button.active {
    background: #fec454;
  }
  