@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

/* GERAL */
p {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;
}
h2, h3, h4, p, a, span {
    font-family: "Roboto Condensed";
}

h2 {
font-size: 24px;
line-height: 28px;
color: #B71524;

}
 header {
    width: 100%;
    background-color: #B71524;
    position: fixed;
    top: 0px;
}

.header {
    height: 40px;
    max-width: 380px;
    margin:  0 auto;
    text-align: center;
    padding: 10px 0;
}

header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}


header nav ul li {
    color: #fff;
    font-size:16px;
}

header nav img {
    width: 25px;
    height: 25px;
}


.menu {
    margin: 0 13px;
}

.menu h2 {
    display: inline;   
}   
.menu span {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #B71524;

    margin-left: 8px;
}

.barra {
    margin: 8px 0;
    height: 2px;
    background-color: #000;
    width: 100%;
}

footer {
    text-align: center;
    font-size: 12px;
    background-color: #B71524;
    padding: 10px 15px;
    color: #fff;
    
}

footer p {
    color: #fff;
}

footer span {
    font-weight: bold;
    letter-spacing: .07em;
}

footer a {
    color: #fff;
    font-weight: 300;
    text-decoration: underline;
}

/* JAVASCRIPT */
/* 5 Adicione o CSS Essencial abaixo */
.no-js [data-slide] {
    position: relative;
  }
  .no-js [data-slide] > * {
    position: absolute;
    top: 0px;
    opacity: 0;
  }
  .no-js [data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
  }
  
  /* 6 CSS recomendado para a navegação */
  .no-js [data-slide-nav] {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  .no-js [data-slide-nav] > button {
    display: inline-block;
    width: 12px;
    margin: 4px;
    height: 12px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    background: #1d1d1d;
    text-indent: -100px;
    overflow: hidden;
  }
  .no-js [data-slide-nav] > button.active {
    background: #fec454;
  }
