@media only screen and (min-width: 788px) and (max-width: 979px) {

	
}

@media only screen and (min-width: 561px) and (max-width: 787px) {
    /* header */
    .header nav ul li {
        margin: 0 25px;
    }

    /* Sections */
    .titulo-main, .menu h2{
        font-size: 18px;
    }

    .menu h3 {
        font-size: 16px;
    }

    .itens ul .name{
        font-size: 18px;
    }

    .itens ul li .description {
        font-size: 14px;
     }

     .itens ul .price {
        font-size: 16px;
    }

    .menu h3.subtitulo {
        font-size: 12px;
        margin: 0 6px;
    }

    .menu h3.aviso {
        font-size: 8px;
        margin: 0 5px;
    }

    .menu .regiao {
        font-size: 20px;
    }

    .acompanhamentos h3  {
        font-size: 16px;
    }

    .acompanhamentos p {
        font-size: 12px;
    }

    /* footer */
    .footer-home p {
        font-size: 16px;
    }

}
	
@media only screen and (max-width: 560px) {
    /* Header  */

    .header .grid-16 {
        padding: 5px;
        margin: 0;
    }

    .header nav ul li {
        margin: 0 18px;
    }


    .header nav ul li a {
        padding: 10px 0 0 0;
        margin: 0;
    }

    .header nav ul li a.foco {
        border-bottom: 3px solid #fff;
    }

    .header nav ul li a img {
        width: 18px;
    }

    .header nav ul li a p {
        color: #fff;
        font-size: 13px;
    }

    /* Sections */
    .titulo-main, .menu h2{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .menu h3 {
        font-size: 16px;
    }

    .itens ul .name{
        font-size: 16px;
    }

    .itens ul li .description {
        font-size: 12px;
     }

     .itens ul .price {
        font-size: 12px;
    }

    .menu h3.subtitulo {
        font-size: 12px;
        margin: 0 4px;
    }

    .menu h3.aviso {
        font-size: 12px;
        margin: 0 6px;
    }

    .menu h4.desc {
        font-size: 12px;
    }

    .menu .regiao {
        font-size: 20px;
    }

    .acompanhamentos h3  {
        font-size: 14px;
    }

    .acompanhamentos p {
        font-size: 12px;
    }

    .menu .mensagem .mensagem1 {
        font-size: 12px;
    }

    .menu .mensagem .mensagem2 {
        max-width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    /* footer */
    .footer-home .container {
        padding: 0;
        margin: 0 ;
    }
    .footer-home .grid-2  {
        padding: 0;
        margin: 0;
    }
    .footer-home p {
        font-size: 12px;
    }
	
}